{% extends 'base.html' %}
{% load static %}
{% block title %}Hakkımızda - Otel, Tatil Köyü ve Konaklama{% endblock %}

{% block content %}


        <!-- ======================== About ======================== -->

        <section class="page">

            <!-- ===  Page header === -->

            <div class="page-header" style="background-image:url(/static/src/images/header-1.jpg)">
                <div class="container">
                    <h2 class="title">Otel</h2>
                    <p>Yer, hizmetlerimiz ve ekibimiz</p>
                </div>
            </div>

            <div class="image-blocks image-blocks-category">

                <div class="container">
                    <div class="about">

                        <!--text-block-->

                        <div class="text-block">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">

                                    <div class="text">
                                        <h2>Hakkında Colina Hotel</h2>

                                        <!-- ===  Gallery === -->

                                        <div class="gallery">

                                            <div class="owl-slider owl-slider-gallery">

                                                <!-- === slide item === -->

                                                <div class="item" style="background-image:url(/static/src/images/home.jpg)"></div>

                                                <!-- === slide item === -->

                                                <div class="item" style="background-image:url(/static/src/images/home2.jpg)"></div>


                                                <!-- === slide item === -->

                                                <div class="item" style="background-image:url(/static/src/images/home3.jpg)"></div>


                                            </div> <!--/owl-slider-->

                                        </div>

                                        <p><strong class="text-center">Başlangıç</strong></p>
                                        <p>
                                            19 odalı otelimizin samimi atmosferi, Paris'te konaklamanız sırasında size kişisel hizmet sunmamıza olanak tanır,
                                            böylece size harika bir deneyim yaşamanızda yardımcı olabiliriz.
                                        </p>
                                        <p>
                                            2015 yılında müşteri anketine göre, konuklarımızın %97.9'u hizmetimizden memnun kaldı (kaynak - müşteri anketi). 
                                            Bu, Hôtel La Tamise'i Trip Advisor'da 1809 otel arasında en üst sıralara taşıyan konuklarımız arasında popüler bir yer haline getirmiştir.
                                        </p>

                                        <p>
                                            <img src="/static/src/images/hotel.jpg" alt="Colina Hotel - Resort & accommodation" />
                                        </p>

                                        <p><strong class="text-center">Olanaklar</strong></p>
                                        <p>
                                            Bir otel, kısa vadeli ödeme karşılığında konaklama sağlayan bir tesisidir. Sunulan olanaklar, küçük bir odada mütevazı kalitede bir yatak
                                            ile başlayıp, büyük süitlerde daha büyük, yüksek kaliteli yataklar, bir elbise dolabı, bir buzdolabı ve diğer mutfak olanakları, kaplı koltuklar,
                                            düz ekran televizyon ve özel banyolar içerebilir. Küçük, düşük fiyatlı oteller genellikle sadece en temel konuk hizmetleri ve olanaklarını sunabilir.
                                        </p>

                                        <p>
                                            Daha büyük, yüksek fiyatlı oteller, yüzme havuzu, iş merkezi (bilgisayarlar, yazıcılar ve diğer ofis ekipmanları ile birlikte), çocuk bakımı,
                                            konferans ve etkinlik olanakları, tenis veya basketbol sahaları, spor salonu, restoranlar, gün spa ve sosyal fonksiyon hizmetleri gibi
                                            ek konuk olanakları sağlayabilir. Otel odaları genellikle numaralandırılır (veya bazı küçük otellerde ve pansiyonlarda isimlendirilir),
                                            böylece misafirlerin odalarını tanımlamalarına olanak tanır. Bazı butik, yüksek kaliteli oteller özel dekore edilmiş odalara sahiptir.
                                            Bazı oteller, bir oda ve yemek düzeninin bir parçası olarak öğünler sunabilir. Birleşik Krallık'ta bir otel, belirli belirtilmiş saatlerde
                                            tüm misafirlere yemek ve içki servisi yapma yasal zorunluluğuna sahiptir. Japonya'da kapsül oteller, yalnızca uyumak için uygun küçük bir oda
                                            ve paylaşılan banyo olanakları sağlar.
                                        </p>
                                        <p><strong class="text-center">Biraz Tarih</strong></p>
                                        <p>
                                            Modern otelin öncüsü, ortaçağ Avrupa'sının hanıydı. Yaklaşık olarak 17. yüzyıl ortalarından itibaren, kervan misafirleri için konaklama
                                            yeri olarak kervansaraylar hizmet verdi. Hanlar, 18. yüzyıl ortalarında daha zengin müşterilere hizmet vermeye başladı. Modern anlamda bir
                                            otel olanlardan biri 1768'de Exeter'da açıldı. Oteller, 19. yüzyılın başlarında Batı Avrupa ve Kuzey Amerika genelinde yaygınlaştı ve
                                            lüks oteller 19. yüzyılın sonlarına doğru ortaya çıkmaya başladı.
                                        </p>
                                        </div>

                                        <h2>Takımımızla Tanışın</h2>

                                        <p>
                                            Mimarlarımız ve tasarımcılarımız çevreyi sürekli ve dikkatlice gözlemleyerek, değişiklikleri kabul eder ve geliştirir, modayı ve mimari,
                                            aynı zamanda sosyolojik değişiklikleri araştırır ve bunları benzersiz tasarımlara dönüştürür.
                                        </p>

                                    <!-- === Our team === -->

                                    <div class="team">

                                        <div class="row">

                                            <!-- === team member === -->

                                            <div class="col-sm-3">
                                                <article>
                                                    <div class="details details-text">
                                                        <div class="inner">
                                                            <h4 class="title">Lea Nils</h4>
                                                            <h6 class="title">Director</h6>
                                                        </div>
                                                    </div>
                                                    <div class="image">
                                                        <img src="/static/src/images/user-5.jpg" alt="" />
                                                    </div>
                                                    <div class="details details-social">
                                                        <div class="inner">
                                                            <a href="#"><i class="fa fa-phone"></i></a>
                                                            <a href="#"><i class="fa fa-envelope"></i></a>
                                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>

                                            <!-- === team member === -->

                                            <div class="col-sm-3">
                                                <article>
                                                    <div class="details details-text">
                                                        <div class="inner">
                                                            <h4 class="title">Nora Star</h4>
                                                            <h6 class="title">Architect</h6>
                                                        </div>
                                                    </div>
                                                    <div class="image">
                                                        <img src="/static/src/images/user-4.jpg" alt="" />
                                                    </div>
                                                    <div class="details details-social">
                                                        <div class="inner">
                                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>

                                            <!-- === team member === -->

                                            <div class="col-sm-3">
                                                <article>
                                                    <div class="details details-text">
                                                        <div class="inner">
                                                            <h4 class="title">Jenna Hale</h4>
                                                            <h6 class="title">Quality director</h6>
                                                        </div>
                                                    </div>
                                                    <div class="image">
                                                        <img src="/static/src/images/user-3.jpg" alt="" />
                                                    </div>
                                                    <div class="details details-social">
                                                        <div class="inner">
                                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>

                                            <!-- === team member === -->

                                            <div class="col-sm-3">
                                                <article>
                                                    <div class="details details-text">
                                                        <div class="inner">
                                                            <h4 class="title">Glen Jordan</h4>
                                                            <h6 class="title">Supervisor</h6>
                                                        </div>
                                                    </div>
                                                    <div class="image">
                                                        <img src="/static/src/images/user-4.jpg" alt="" />
                                                    </div>
                                                    <div class="details details-social">
                                                        <div class="inner">
                                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>

                                        </div> <!--/row-->

                                    </div> <!--/team-->
                                </div> <!--/col-->
                            </div> <!--/row-->
                        </div>


                        <!--=== item block === -->

                        <div class="blocks blocks-left">
                            <div class="item">
                                <div class="text">
                                    <div class="h2">Otel Bilgisi</div>
                                    <ul>
                                        <li>Giriş Saati: 15:00</li>
                                        <li>Çıkış Saati: 12:00</li>
                                        <li>Tüm Üyeler İçin Ücretsiz WiFi</li>
                                        <li>Valet Park: $65-$75/gün</li>
                                        <li>Evcil Hayvanlara Hoş Geldiniz (Ücretli)</li>
                                        <li>Erken Giriş İmkanı</li>
                                        <li>En İyi Fiyat Garantisi</li>
                                        <li>Her Şey Dahil Paketi İçin Ücretsiz Otopark</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="image" style="background-image:url(/static/src/images/home.jpg)">
                                <img src="/static/src/images/home.jpg" alt="">
                            </div>
                        </div>

                        <!--=== item block === -->

                        <div class="blocks blocks-right">
                            <div class="item">
                                <div class="text">
                                    <div class="h2">Hotel features</div>
                                    <ul>
                                        <li>FIT ® Jimnastik ve Fitness</li>
                                        <li>Kablolu İş Merkezi</li>
                                        <li>All Inclusive ® Hizmeti</li>
                                        <li>Bliss & Spa</li>
                                        <li>SPG Keyless</li>
                                        <li>Restoran & Bar Salonu</li>
                                        <li>Özel Odalar</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="image" style="background-image:url(/static/src/images/home2.jpg)">
                                <img src="/static/src/images/home2.jpg" alt="" />
                            </div>
                        </div>

                        <!-- === text-card === -->

                        <div class="text-block">
                            <div class="row">
                                <div class="col-md-8 col-lg-offset-2">
                                    <h2>Lüks</h2>
                                    <p>
                                        Zaman paylaşımı ve destinasyon kulüpleri, mevsimlik kullanım için bireysel konaklama birimine sahip mülkiyet sahipliği
                                        içeren bir mülkiyet sahipliği biçimidir. Bir mote, araç parkından bireysel odalara doğrudan erişime sahip küçük bir
                                        düşük katlı konaklama yeridir. Butik oteller genellikle benzersiz bir ortama veya samimi bir düzene sahip otellerdir.
                                        Londra'daki Ritz Hotel gibi, birçok otel popüler kültür aracılığıyla genel bilince girmiştir.
                                    </p>
                                    <h2>Çevrede</h2>
                                    <p>
                                        Bazı oteller özellikle kumarhaneler ve tatil köyleri gibi kendisi başlı başına bir destinasyon olarak inşa edilmiştir.
                                        Çoğu otel tesisi, Genel Müdür tarafından yönetilir ve bu kişi genellikle "Otel Müdürü" olarak adlandırılır. Bu kişi,
                                        bir oteldeki çeşitli departmanları denetleyen departman müdürleri, orta kademe yöneticiler, idari personel ve
                                        hat seviye denetimcileri tarafından desteklenir. Organizasyon şeması ve iş pozisyonları ile hiyerarşi, otel boyutu,
                                        işlevi ve sınıfına göre değişir ve genellikle otel sahipliği ve yönetim şirketleri tarafından belirlenir.
                                    </p>
                                    <div class="cards cards-block">

                                        <div class="row">

                                            <!-- === item === -->

                                        <div class="col-xs-12 col-md-8">
                                            <figure>
                                                <figcaption style="background-image:url(/static/src/images/museums.jpg)">
                                                    <img src="/static/src/images/museums.jpg" alt="" />
                                                </figcaption>
                                                <a href="#" class="btn btn-clean" onclick="">Müzeler</a>
                                            </figure>
                                        </div>

                                        <!-- === item === -->

                                        <div class="col-xs-6 col-md-4">
                                            <figure>
                                                <figcaption style="background-image:url(/static/src/images/nightlife.jpg)">
                                                    <img src="/static/src/images/nightlife.jpg" alt="" />
                                                </figcaption>
                                                <a href="#" class="btn btn-clean">Gece Hayatı</a>
                                            </figure>
                                        </div>

                                        <!-- === item === -->

                                        <div class="col-xs-6 col-md-4">
                                            <figure>
                                                <figcaption style="background-image:url(/static/src/images/fooddrink.jpg)">
                                                    <img src="/static/src/images/fooddrink.jpg" alt="" />
                                                </figcaption>
                                                <a href="#" class="btn btn-clean">Yiyecek içecek</a>
                                            </figure>
                                        </div>

                                        <!-- === item === -->

                                        <div class="col-xs-6 col-md-4">
                                            <figure>
                                                <figcaption style="background-image:url(/static/src/images/shopping.jpg)">
                                                    <img src="/static/src/images/shopping.jpg" alt="" />
                                                </figcaption>
                                                <a href="#" class="btn btn-clean">Alışveriş</a>
                                            </figure>
                                        </div>

                                        <!-- === item === -->

                                        <div class="col-xs-6 col-md-4">
                                            <figure>
                                                <figcaption style="background-image:url(/static/src/images/city.jpg)">
                                                    <img src="/static/src/images/city.jpg" alt="" />
                                                </figcaption>
                                                <a href="#" class="btn btn-clean">Şehir</a>
                                            </figure>
                                        </div>

                                        </div> <!--/row-->

                                    </div> <!--/cards-->

                                </div> <!--/col-->
                            </div> <!--/row-->
                        </div>

                    </div> <!--/container-->

                </div>
            </div>
        </section>

        <!-- ========================  Subscribe ======================== -->

        <section class="subscribe">
            <div class="container">
                <div class="box">
                    <h2 class="title">Abone ol</h2>
                    <div class="text">
                        <p>& ücretsiz premium hediyeleri alın</p>
                    </div>
                    <div class="form-group">
                        <input type="text" value="" placeholder="Abone Ol" class="form-control" />
                        <button class="btn btn-sm btn-main">Git</button>
                    </div>
                </div>
            </div>
        </section> 
    </div> <!--/wrapper-->

    <!--JS files-->
    <script src="/static/src/js/jquery.min.js"></script>
    <script src="/static/src/js/jquery-ui.js"></script>
    <script src="/static/src/js/jquery.bootstrap.js"></script>
    <script src="/static/src/js/jquery.magnific-popup.js"></script>
    <script src="/static/src/js/jquery.owl.carousel.js"></script>
    <script src="/static/src/js/main.js"></script>
</body>

</html>
{% endblock %}