{% extends 'base.html' %}
{% load static %}
{% block title %}Anasayfa - Otel, Tatil Köyü ve Konaklama{% endblock %}

{% block content %}
<!-- ========================  Header content ======================== -->

        <section class="frontpage-slider">
            <div class="owl-slider owl-slider-header">

                <!-- === slide item === -->

                <div class="item" style="background-image:url(/static/src/images/home.jpg)">
                    <div class="box box-bottom text-right">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">
                                Konforluğun ve <br />
                                <span>lüks odalarımızla unutulmaz <p>bir tatil deneyimi yaşayın.</p></span>
                            </h2>
                            <div class="desc animated" data-animation="fadeInUp">
                                Misafirperverliğimizle sizleri ağırlamaktan mutluluk duyacağız. <br />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === slide item === -->

                <div class="item" style="background-image:url(/static/src/images/home2.jpg)">
                    <div class="box box-bottom text-center">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">
                                Bir an <br /> <span>saf prestij</span>
                            </h2>
                            <div class="desc animated" data-animation="fadeInUp">
                                Lüks sosyal ve ticari etkinlikler
                            </div>
                            <div class="desc animated" data-animation="fadeInUp">
                                ve unutulmaz düğünler.
                            </div>
                            <div class="animated" data-animation="fadeInUp">
                                <!-- <a href="https://themeforest.net/item/colina-hotel-website-template/20977257" class="btn btn-clean">Buy this template</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === slide item === -->

                <div class="item" style="background-image:url(/static/src/images/home3.jpg)">
                    <div class="box box-bottom text-center">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">Fairmont başardı!</h2>
                            <div class="desc animated" data-animation="fadeInUp">Zarif Champagne Bar, şık Colina Club.</div>
                            <div class="desc animated" data-animation="fadeInUp">Konuk odaları ve lüks süitler</div>
                        </div>
                    </div>
                </div>

            </div> <!--/owl-slider-->
        </section>

        <!-- ======================== Booking ======================== -->

        <section class="booking booking-default-theme">

            <div class="section-header hidden">
                <div class="container">
                    <h2 class="title">Booking & reservations</h2>
                </div>
            </div>

            <div class="booking-wrapper">

                <div class="container">
                    <div class="row">

                        <!-- === date arrival ===-->

                        <!-- <div class="col-xs-4 col-sm-3">
                            <div class="date" id="dateArrival" data-text="Giriş">
                                <input class="datepicker" readonly="readonly" />
                                <div class="date-value"></div>
                            </div>
                        </div>  -->
                        <!--=== date departure ===-->

                        <!-- <div class="col-xs-4 col-sm-3">
                            <div class="date" id="dateDeparture" data-text="Çıkış">
                                <input class="datepicker" readonly="readonly" />
                                <div class="date-value"></div>
                            </div>
                        </div> -->


                        <!-- <div class="col-xs-4 col-sm-2"> -->

                            <!-- <div class="guests" data-text="Misafirler">
                                <div class="result">
                                    <input class="qty-result" type="text" value="2" id="qty-result" readonly="readonly" />
                                    <div class="qty-result-text date-value" id="qty-result-text"></div>
                                </div> -->
                                <!--=== guests list ===-->
                                <!-- <ul class="guest-list">
                                    <li class="header">
                                        Lütfen misafir sayısını seçin <span class="qty-apply"><i class="icon icon-cross"></i></span>
                                    </li> -->
                                    <!--=== adults ===-->

                                    <!-- <li class="clearfix">

                                        <!=== Adults value ===-->

                                        <!-- <div>
                                            <input class="qty-amount" value="2" type="text" id="ticket-adult" data-value="2" readonly="readonly" />
                                        </div>

                                        <div>
                                            <span>Yetişkinler <small>16+ yaş</small></span>
                                        </div> -->

                                        <!--=== Add/remove quantity buttons ===-->

                                        <!-- <div>
                                            <input class="qty-btn qty-minus" value="-" type="button" data-field="ticket-adult" />
                                            <input class="qty-btn qty-plus" value="+" type="button" data-field="ticket-adult" />
                                        </div>

                                    </li> -->

                                    <!--=== chilrens ===-->

                                    <!-- <li class="clearfix"> -->

                                        <!--=== Adults value ===-->

                                        <!-- <div>
                                            <input class="qty-amount" value="0" type="text" id="ticket-children" data-value="0" readonly="readonly" />
                                        </div> -->

                                        <!--=== Label ===-->
<!-- 
                                        <div>
                                            <span>Çocuklar <small>2-11 yaş</small></span>
                                        </div> -->


                                        <!--=== Add/remove quantity buttons ===-->

                                        <!-- <div>
                                            <input class="qty-btn qty-minus" value="-" type="button" data-field="ticket-children" />
                                            <input class="qty-btn qty-plus" value="+" type="button" data-field="ticket-children" />
                                        </div>

                                    </li> -->

                                    <!--=== Infants ===-->

                                    <!-- <li class="clearfix"> -->

                                        <!--=== Adults value ===-->

                                        <!-- <div>
                                            <input class="qty-amount" value="0" type="text" id="ticket-infants" data-value="0" readonly="readonly" />
                                        </div> -->

                                        <!--=== Label ===-->

                                        <!-- <div>
                                            <span>Bebekler <small>2 yaş altı</small></span>
                                        </div> -->

                                        <!--=== Add/remove quantity buttons ===-->

                                        <!-- <div>
                                            <input class="qty-btn qty-minus" value="-" type="button" data-field="ticket-infants" />
                                            <input class="qty-btn qty-plus" value="+" type="button" data-field="ticket-infants" />
                                        </div>
                                    </li> -->

                                <!-- </ul>
                            </div>
                        </div> -->

                        <!--=== button ===-->

                        <!-- <div class="col-xs-12 col-sm-4">
                            <a href="reservation-1.html" class="btn btn-clean">
                                Şimdi rezervasyon yapın
                                <small>En İyi Fiyat Garantisi</small>
                            </a>
                        </div> -->

                    </div> <!--/row-->
                </div><!--/booking-wrapper-->
            </div> <!--/container-->
        </section>

        <!-- ========================  Rooms ======================== -->

        <section class="rooms rooms-widget">

            <!-- === rooms header === -->

            <div class="section-header">
                <div class="container">
                    <h2 class="title">ODALAR KONAKLAMA <a href="rooms-category.html" class="btn btn-sm btn-clean-dark">Hepsini gör</a></h2>
                    <p>Kendinizi evinizde hissedeceğiniz ayrıcalıklı, neredeyse özel bir yer olarak tasarlandı
                        <h1>Toplam Oda Sayısı: {{ rooms|length }}</h1>
                    </p>
                </div>
            </div>

            <!-- === rooms content === -->

            <div class="container">

                <div class="owl-carousel owl-rooms">
                    {% for room in rooms %}
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="{{ room.image_home.url }}" alt="{{ room.name }} Room" >
                            </div>
                            <div class="details">
                                <div class="text">
                                    <h3 class="title"><a href="{% url 'room-overview' room_slug=room.slug %}">{{ room.description }}</a></h3>
                                    <p>{{ room.description }}</p>
                                </div>
                                <div class="book">
                                    <div>
                                        <a href="{% url 'room-overview' room_slug=room.slug %}" class="btn btn-main">Şimdi rezervasyon yapın</a>

                                    </div>
                                    <div>
                                        <span class="price h4">₺{{ room.price }}</span>
                                        <span>gecelik</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div><!--/owl-rooms-->

            </div> <!--/container-->

        </section>

        <!-- ========================  Stretcher widget ======================== -->

        <section class="stretcher-wrapper">

            <!-- === stretcher header === -->

            <div class="section-header">
                <div class="container">
                    <h2 class="title">TATİL TESİSLERİ<a href="facility.html" class="btn btn-sm btn-clean-dark">Daha fazlasını keşfedin</a></h2>
                    <p>
                        En iyi lüks spa, salon ve fitness deneyimleriyle
                    </p>
                </div>
            </div>

            <!-- === stretcher === -->

            <ul class="stretcher">

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url(/static/src/images/spa.jpg);">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro h4">Spa merkezi</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Spa merkezi</h4>
                        <figcaption>Lükse benzersiz bağlılık</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="facility.html">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url(/static/src/images/gym.jpg);">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro h4">Spor salonu</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Spor salonu</h4>
                        <figcaption>Sonuçlara önem verin</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="facility.html">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url(/static/src/images/fitness.jpg);">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro h4">Fitness</span>
                        </div>
                    </div>
                    <figure>
                        <h4>Fitness</h4>
                        <figcaption>Günlük aktiviteleriniz</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="facility.html">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url(/static/src/images/beauty-centre.jpg);">


                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro h4">Güzellik Salonu</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Güzellik Salonu</h4>
                        <figcaption>Kuaför salonları ve spa'lar</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="facility.html">Anchor link</a>
                </li>
                <!-- === stretcher item more === -->

                <li class="stretcher-item more">
                    <div class="more-icon">
                        <span data-title-show="Show more" data-title-hide="+"></span>
                    </div>
                    <a href="facility.html">Anchor link</a>
                </li>

            </ul>
        </section>

        <!-- ========================  Blog ======================== -->

        <section class="blog blog-widget">

            <!-- === stretcher header === -->

            <div class="section-header">
                <div class="container">
                    <h2 class="title">Son Haberler <a href="blog-category.html" class="btn btn-sm btn-clean-dark">Son Haberler</a></h2>
                    <p>
                        Etkinlikler, gidilecek yerler, tur bilgileri ve daha fazlası
                    </p>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    <!-- === article item === -->

                    <div class="col-sm-4">
                        <a href="blog-item.html">
                            <article>
                                <div class="image">
                                    <img src="/static/src/images/news1.jpg" alt="" />
                                </div>
                                <div class="text">
                                    <div class="time">
                                        <span>22</span>
                                        <span>05</span>
                                        <span>2014</span>
                                    </div>
                                    <h2 class="h4 title">
                                        Tatiller ters gittiğinde ne yapmalı
                                    </h2>
                                </div>
                            </article>
                        </a>
                    </div>

                    <!-- === article item === -->

                    <div class="col-sm-4">
                        <a href="blog-item.html">
                            <article>
                                <div class="image">
                                    <img src="/static/src/images/insurance.jpg" alt="" />
                                </div>
                                <div class="text">
                                    <div class="time">
                                        <span>22</span>
                                        <span>05</span>
                                        <span>2014</span>
                                    </div>
                                    <h2 class="h4 title">
                                        İhtiyaç duyacağınız tek seyahat sigortası rehberi
                                    </h2>
                                </div>
                            </article>
                        </a>
                    </div>

                    <!-- === article item === -->

                    <div class="col-sm-4">
                        <a href="blog-item.html">
                            <article>
                                <div class="image">
                                    <img src="/static/src/images/airport.jpg" alt="" />
                                </div>
                                <div class="text">
                                    <div class="time">
                                        <span>22</span>
                                        <span>05</span>
                                        <span>2014</span>
                                    </div>
                                    <h2 class="h4 title">
                                        Havaalanı otoparkından tasarruf etmenin altı basit yolu
                                    </h2>
                                </div>
                            </article>
                        </a>
                    </div>

                </div> <!--/row-->
            </div> <!--/container-->
        </section>

        <!-- ========================  Cards ======================== -->

        <section class="cards">

            <!-- === cards header === -->

            <div class="section-header">
                <div class="container">
                    <h2 class="title">Yakında<a href="#" class="btn btn-sm btn-clean-dark">Tümünü görüntüle</a></h2>
                    <p>İşte sanat, moda ve tasarımla ilgili iyonik sitelerden bir seçki.</p>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    <!-- === item === -->

                    <div class="col-xs-12 col-md-8">
                        <figure>
                            <figcaption style="background-image:url(/static/src/images/museums.jpg)">
                                <img src="/static/src/images/museums.jpg" alt="" />
                            </figcaption>
                            <a href="#" class="btn btn-clean" onclick="">Müzeler</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-xs-6 col-md-4">
                        <figure>
                            <figcaption style="background-image:url(/static/src/images/nightlife.jpg)">
                                <img src="/static/src/images/nightlife.jpg" alt="" />
                            </figcaption>
                            <a href="#" class="btn btn-clean">Gece Hayatı</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-xs-6 col-md-4">
                        <figure>
                            <figcaption style="background-image:url(/static/src/images/fooddrink.jpg)">
                                <img src="/static/src/images/fooddrink.jpg" alt="" />
                            </figcaption>
                            <a href="#" class="btn btn-clean">Yiyecek içecek</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-xs-6 col-md-4">
                        <figure>
                            <figcaption style="background-image:url(/static/src/images/shopping.jpg)">
                                <img src="/static/src/images/shopping.jpg" alt="" />
                            </figcaption>
                            <a href="#" class="btn btn-clean">Alışveriş</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-xs-6 col-md-4">
                        <figure>
                            <figcaption style="background-image:url(/static/src/images/city.jpg)">
                                <img src="/static/src/images/city.jpg" alt="" />
                            </figcaption>
                            <a href="#" class="btn btn-clean">Şehir</a>
                        </figure>
                    </div>

                </div> <!--/row-->

            </div> <!--/container-->
        </section>

        <!-- ======================== Facilities ======================== -->

        <section class="facilities">

            <div class="section-header text-center">
                <div class="container">
                    <h2 class="title">Otel servisi</h2>
                    <p>Deneyim ve olanaklar</p>
                </div>
            </div>

            <div class="container">
                <div class="facilities-wrapper">
                    <div class="row">

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-roomservice"></span>
                                    <p class="title">Oda servisi</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-wifi"></span>
                                    <p class="title">Ücretsiz internet</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-kitchen"></span>
                                    <p class="title">Restoran</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-coctail"></span>
                                    <p class="title">Kokteyl bar</p>
                                </figcaption>
                            </figure>
                        </div>



                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-parking"></span>
                                    <p class="title">Ücretsiz park</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-pool"></span>
                                    <p class="title">Havuz</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-elevator"></span>
                                    <p class="title">Asansör</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-keys"></span>
                                    <p class="title">Özel odalar</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <!-- ======================== Image blocks ======================== -->

        <section class="image-blocks image-blocks-header">

            <div class="section-header" style="background-image:url(/static/src/images/header-1.jpg)">
                <div class="container">
                    <h2 class="title">Apartman rezidansları <a href="rooms-category.html" class="btn btn-sm btn-clean">Hepsini gör</a></h2>
                    <p>Yoldayken evde.</p>
                </div>
            </div>

            <div class="container">

                <!--item block -->
                <div class="blocks blocks-left">
                    <div class="item">
                        <div class="text">

                            <!-- === room info === -->

                            <h2 class="title">Kral dairesi <br />Süit</h2>
                            <p>
                                En kaliteli nevresimlere ve kaliteli dekora sahip, yakın zamanda yenilenmiş lüks konaklama.
                                Klima Elektrikli Battaniye, Ütü Masası, Mini Bar, Düz Ekran ve Ücretsiz Kurum İçi Filmler, WiFi
                                ve Talep üzerine kat hizmetleri.
                            </p>

                            <!-- === room facilities === -->

                            <div class="room-facilities">

                                <!--=== icon ===-->

                                <figure>
                                    <figcaption><i class="hotelicon hotelicon-guest"></i> 4 kişilik</figcaption>
                                </figure>

                                <!--=== icon ===-->

                                <figure>
                                    <figcaption><i class="hotelicon hotelicon-roomservice"></i> Oda servisi</figcaption>
                                </figure>

                                <!--=== icon ===-->

                                <figure>
                                    <figcaption><i class="hotelicon hotelicon-king-bed"></i> Büyük boy yatak</figcaption>
                                </figure>

                                <!--=== icon ===-->

                                <figure>
                                    <figcaption><i class="hotelicon hotelicon-kitchen"></i>Her şey dahil</figcaption>
                                </figure>

                                <!--=== icon ===-->

                                <figure>
                                    <figcaption><i class="hotelicon hotelicon-compas"></i> 460 metrekarelik oda</figcaption>
                                </figure>

                                <!--=== icon ===-->

                                <figure>
                                    <figcaption><i class="hotelicon hotelicon-tv"></i> TV</figcaption>
                                </figure>

                            </div>

                            <!-- === booking === -->

                            <div class="book">
                                <div>
                                    <a href="room-overview.html" class="btn btn-danger btn-lg">Rezervasyon</a>
                                </div>
                                <div>
                                    <span class="price h2">₺ 129,00</span>
                                    <span>gecelik</span>
                                </div>
                            </div> <!--/booking-->

                        </div><!--/text-->
                    </div> <!--/item-->

                    <div class="image" style="background-image:url(/static/src/images/luxuryroom.jpg)">
                        <img src="/static/src/images/luxuryroom.jpg" alt="" />
                    </div>
                </div>

                <!--item block -->
                <div class="blocks blocks-right">
                    <div class="item">
                        <div class="text">

                            <!-- === room info === -->

                            <h2 class="title">Lüks <br />daire</h2>
                            <p>
                                Lüks yaşamanın en üst seviyesi. Rezidanslar farklı tasarlanmış ve zarif bir şekilde döşenmiştir,
                                anıların yaşandığı ve deneyimlerin gerçek olduğu ideal yerler yaratmak.
                            </p>

                            <!-- === room facilities === -->

                            <div class="room-facilities">

                                <!--=== icon ===-->

                                <figure>
                                    <figcaption><i class="hotelicon hotelicon-guest"></i> 4 kişilik</figcaption>
                                </figure>

                                <!--=== icon ===-->

                                <figure>
                                    <figcaption><i class="hotelicon hotelicon-king-bed"></i> Büyük boy yatak</figcaption>
                                </figure>

                                <!--=== icon ===-->

                                <figure>
                                    <figcaption><i class="hotelicon hotelicon-roomservice"></i> Oda servisi</figcaption>
                                </figure>

                                <!--=== icon ===-->

                                <figure>
                                    <figcaption><i class="hotelicon hotelicon-kitchen"></i> Her şey dahil</figcaption>
                                </figure>

                                <!--=== icon ===-->

                                <figure>
                                    <figcaption><i class="hotelicon hotelicon-compas"></i> 460 metrekarelik oda</figcaption>
                                </figure>

                                <!--=== icon ===-->

                                <figure>
                                    <figcaption><i class="hotelicon hotelicon-tv"></i> TV</figcaption>
                                </figure>

                            </div>

                            <!-- === booking === -->

                            <div class="book">
                                <div>
                                    <a href="room-overview.html" class="btn btn-danger btn-lg">Rezervasyon</a>
                                </div>
                                <div>
                                    <span class="price h2">₺ 229,00</span>
                                    <span>gecelik</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="image" style="background-image:url(/static/src/images/luxuryroom2.jpg)">
                        <img src="/static/src/images/luxuryroom2.jpg" alt="" />
                    </div>
                </div>

            </div> <!--/container-->
        </section>

        <!-- ======================== Quotes ======================== -->

        <section class="quotes quotes-slider" style="background-image:url(/static/src/images/header-1.jpg)">
            <div class="container">

                <!-- === Quotes header === -->

                <div class="section-header">
                    <h2 class="title">Görüşler</h2>
                    <p>Başkaları bizim hakkımızda ne düşünüyor?</p>
                </div>

                <div class="row">

                    <div class="col-md-8 col-md-offset-2">
                        <div class="quote-carousel">

                            <!-- === quoute item === -->

                            <div class="quote">

                                <div class="text">
                                    <h4>Jenna Hale</h4>
                                    <p>Ipsum dolore eros dolore <br />dolor dolores sit iriure</p>
                                </div>
                                <div class="more">
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- === quoute item === -->

                            <div class="quote">
                                <div class="text">
                                    <h4>Glen Jordan</h4>
                                    <p>Ipsum dolore eros dolore <br />dolor dolores sit iriure</p>
                                </div>
                                <div class="more">
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- === quoute item === -->

                            <div class="quote">
                                <div class="text">
                                    <h4>Lea Nils</h4>
                                    <p>Ipsum dolore eros dolore <br />dolor dolores sit iriure</p>
                                </div>
                                <div class="more">
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- === quoute item === -->

                            <div class="quote">
                                <div class="text">
                                    <h4>Nora Star</h4>
                                    <p>Ipsum dolore eros dolore <br />dolor dolores sit iriure</p>
                                </div>
                                <div class="more">
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- === quoute item === -->

                            <div class="quote">
                                <div class="text">
                                    <h4>Glen Jordan</h4>
                                    <p>Ipsum dolore eros dolore <br />dolor dolores sit iriure</p>
                                </div>
                                <div class="more">
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>
                        </div> <!--/quote-carousel-->
                    </div>
                </div> <!--/row-->
            </div> <!--/container-->
        </section>

        <!-- ========================  Subscribe ======================== -->

        <section class="subscribe">
            <div class="container">
                <div class="box">
                    <h2 class="title">Abone Ol</h2>
                    <div class="text">
                        <p>& Ücretsiz Premium Hediyeler Alın</p>
                    </div>
                    <div class="form-group">
                        <input type="text" value="" placeholder="Subscribe" class="form-control" />
                        <button class="btn btn-sm btn-main">Git</button>
                    </div>
                </div>
            </div>
        </section> 

       

    </div> <!--/wrapper-->

    <!--JS files-->
    <script src="/static/src/js/jquery.min.js"></script>
    <script src="/static/src/js/jquery-ui.js"></script>
    <script src="/static/src/js/jquery.bootstrap.js"></script>
    <script src="/static/src/js/jquery.magnific-popup.js"></script>
    <script src="/static/src/js/jquery.owl.carousel.js"></script>
    <script src="/static/src/js/main.js"></script>
</body>

</html>
{% endblock %}