 <!-- ================== Footer  ================== -->

 <footer>
    <div class="container">

        <!--footer links-->
        <div class="footer-links">
            <div class="row">
                <div class="col-sm-6 footer-left">
                    <a href="#">Site Haritası</a> &nbsp; | &nbsp; <a href="#">Gizlilik Politikası</a> | &nbsp; <a href="#">Misafir Defteri</a>
                </div>
                <div class="col-sm-6 footer-right">
                    <a href="#">Galeri</a> &nbsp; | &nbsp; <a href="#">Rezervasyonlar</a> | &nbsp; <a href="#">Yardım Merkezi</a>
                </div>
            </div>
        </div>        

        <!--footer social-->

        <div class="footer-social">
            <div class="row">
                <div class="col-sm-12 text-center hidden">
                    <a href="" class="footer-logo"><img src="/static/src/images/logo.png" alt="Alternate Text" /></a>
                </div>
                <div class="col-sm-12 icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-12 copyright">
                    <!-- <small>Copyright &copy; 2017 &nbsp; | &nbsp; <a href="https://themeforest.net/item/colina-hotel-website-template/20977257">Buy Colina Template</a></small> -->
                </div>
                <div class="col-sm-12 text-center">
                    <img src="/static/src/images/logo-footer.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</footer>